

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}


.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
    text-align: center;
}

h2{
    font-size: 4rem;
    color: var(--segundario);
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8 rem;
}

img{
    max-width: 100%;
}