
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;


    --primario:#AEBDAC;
    --segundario:#576855;
    --grisOscuro:#424242;
    --gris:#e1e1e1;
    --blanco: #ffffff;
    --negro:#000000;
    --rojo: #a80d0d;
}